{% extends 'base/main.html' %}
{% load static %}
{%block content%}

<main>
    <section id="form-container">
        <div id="logo-wrapper">
            <img id="logo" src="{% static 'images/icon.jpg' %}" />
        </div>

        <div id="welcome-message">
            <h1>MyChat</h1>
            <p>Join a video room instantly</p>
        </div>
        <form id="form">
                <div class="form-field">
                    <label>Room Name</label>
                    <input type="text" name="room" placeholder="e.g. DEVTEAM" style="text-transform: uppercase" required />
                </div>
                <div class="form-field">
                    <label>Your Name</label>
                    <input type="text" name="username" placeholder="e.g. Alice" required />
                </div>
                <div class="form-field">
                    <input type="submit" value="Join Room" />
                </div>
        </form>
    </section>
</main>

<script type="text/javascript">
    let form = document.getElementById('form')
    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase().trim()
        let username = e.target.username.value.trim()

        if (!room || !username) return

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()
        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('username', username)
        window.open('/room/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>
{%endblock content%}